* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    display: block;
    margin: 0px 10px 10px 210px;
}

.row {
    display: flex;
    align-items: center;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

html,
body {
    font-family: sans-serif;
}

header {
    background: #201d21;
    padding: 15px;
}

.logo {
    display: block;
    max-width: 160px;
}

.logo img {
    display: block;
    width: 60%;
    border-radius: 100%;
    margin: 0px 0px 0px -70px;
}

header #home-nav {
    display: flex;
    align-items: center;
    position: relative;
}

.main-menu {
    display: inline-flex;
    justify-content: flex-start;
}

.main-menu li {
    list-style: none;
}

.main-menu li a {
    display: block;
    color: white;
    padding: 20px 50px 0px 22px;
    text-decoration: underline;
    justify-items: center
}

.main-menu li a:hover {
    color: #fafafa;
    text-decoration: underline;
    text-transform: none;
}

.search-box input {
    margin: 0 14px;
    outline: 0;
    border: none;
}

.search-box .sb-text {
    border-radius: 20px;
    margin-left: 110px;
    padding: auto;
    line-height: 25px;
    transition: .5s;
    width: 0px;
}

.search-box .sb-submit {
    color: transparent;
    height: 25px;
    width: 45px;
    background: transparent url("./img/download.png") no-repeat center;
    border: none;
    background-size: contain;
}

.menu-trigger {
    width: 30px;
    height: 20px;
    position: relative;
    margin-left: 10px;
    cursor: pointer;
}

.menu-trigger span {
    display: block;
    background: white;
    width: 100%;
    height: 4px;
    position: absolute;
    border-radius: 10px;
}

.menu-trigger .span-1 {
    top: 0;
}

.menu-trigger .span-2 {
    top: 50%;
    transform: translateY(-50%);
}

.menu-trigger .span-3 {
    bottom: 0;
}

.menu-container {
    position: absolute;
    left: 0;
    width: 100%;
    background: #f7f2f2;
    list-style: none;
    padding: 15px 0px;
    box-shadow: 0 10px 100px hsl(0, 1%, 50%);
    transform: translateY(26px);
    display: none;
}

.menu-container #menu {
    margin: 0 -10px;
}

.menu-container #menu li {
    float: left;
    width: 200px;
    list-style: none;
    margin: 0 10px;
}

.menu-container #menu li a {
    color: orange;
    text-decoration: none;
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid black;
}

.menu-container #menu .sub-menu li {
    float: none;
    margin: 0;
    color: rgb(7, 155, 155);
    border-bottom: 1px solid black;
    display: flex;
    padding: 9px 0;
}

.menu-container #menu .sub-menu li a {
    border: none;
}

.sb-text.open {
    width: 200px;
    height: 30px;
    padding: 0 10px;
}

#hero-image {
    background: url(./img/ABU_1161-800x532.png) no-repeat center;
    padding: 220px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-size: cover;
}

#hero-image .text-center {
    margin: -100px 0 0 0;
    color: #ffffff;
}

.hero-content h1 {
    font-family: serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 15px;
    text-shadow: 10px 10px 10px #000000;
}

.hero-content p:last-child {
    position: relative;
    padding-bottom: 30px;
}

.hero-content p:last-child::after {
    content: '';
    bottom: 0;
    width: 50px;
    height: 1px;
    background: #ffffff;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.btn-ls {
    text-transform: none;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 10px;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #ffffff;
    display: inline-block;
    padding: 4px 10px;
    position: relative;
    text-align: center;
    background: linear-gradient(90deg, #4e6883, #0eb487);
    overflow: hidden;
}

.test span {
    position: absolute;
    background: #f29be8;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 1s linear infinite;
}

@keyframes animate {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0.5;
    }
    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}

.btn-ls:hover {
    color: #170000;
    text-decoration: none;
    transition: .5s;
}


/*gioi thieu*/

.section-padding {
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #010615;
}

.box .imgBx img {
    max-width: 100%;
    opacity: 0.1;
    transition: 0.5s;
}

.box {
    position: relative;
    width: 300px;
    height: 220px;
    display: flex;
    justify-content: center;
    margin: 60px;
    padding-bottom: 50vh;
    transition: 0.5s;
    background: #060c21;
}

.box:hover {
    height: 500px;
}

.box.imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box
}

.box:hover .imgBx img {
    opacity: 1;
}

.box:before {
    content: '';
    position: absolute;
    top: -2;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}

.box:after {
    content: '';
    position: absolute;
    top: -2;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}

.box:hover {
    background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
}

.box:nth-child(2):hover {
    background: linear-gradient(235deg, #ff005e, #010615, #fbff00);
}

.box:nth-child(3):hover {
    background: linear-gradient(235deg, #772aff, #010615, #2196F3);
}

.box .content {
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 90px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}

.box:hover .content {
    opacity: 1;
}

.box .content h2 {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
}


/*footer*/

#main-footer {
    background: #fffefe;
}

#main-footer p a {
    padding-bottom: 0px;
    font-size: 25px;
    text-decoration: none;
}

#main-footer p {
    text-align: center;
}

.img-responsive {
    border: 1px solid #ddd;
}


/*-----------------------
----- Typo Styles ------
-------------------------*/

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 300;
}

.big-text {
    font-size: 58px;
    font-weight: 300;
    line-height: 62px;
    letter-spacing: 0.01em;
    word-spacing: 0.15em;
    text-transform: uppercase;
}

.section-title {
    margin-top: -20px;
    margin-bottom: 80px;
    text-align: center;
}


/*-----------------------
----- Layout Styles -----
-------------------------*/

.add-padding {
    padding-top: 40px;
    padding-bottom: 40px;
}


/*----- Color Styles ------*/

.bg-color1 {
    color: #fff;
    background: #509B9E;
}

.bg-color2 {
    color: #fff;
    background: #f9398c;
}

.bg-color3 {
    color: #fff;
    background: #334959;
}

.border-bottom-color2 {
    border-bottom: 7px solid #f9398c;
}

.border-top-color2 {
    border-top: 7px solid #d1e675;
}

.color1 .service-icon,
.color1.service-item ul li:nth-child(2):before {
    background: #509B9E;
}

.color1 .service-icon:after {
    border: 3px solid #509B9E;
}

.color2 .service-icon,
.color2.service-item ul li:nth-child(2):before {
    background: #f9398c;
}

.color2 .service-icon:after {
    border: 3px solid #f9398c;
}

.color3 .service-icon,
.color3.service-item ul li:nth-child(2):before {
    background: #334959;
}

.color3 .service-icon:after {
    border: 3px solid #334959;
}


/*------------------
----- Buttons ------
--------------------*/

.btn-color1,
.btn-color2 {
    padding: 10px 30px;
    color: #fff;
    font-size: 21px;
    font-weight: 300;
    background: #f9398c;
    outline: none !important;
    border-radius: 0;
    transition: opacity .2s ease-out;
}

.btn-color1 {
    background: #509B9E;
}

.btn-color1:hover,
.btn-color2:hover {
    color: #b443af;
    opacity: 0.9;
}

.btn-color1:focus,
.btn-color1:active,
.btn-color2:focus,
.btn-color2:active {
    color: #fff;
}

.btn-color1 .fa,
.btn-color2 .fa {
    margin-right: 15px;
}


/*----------------------
----- Contact Styles ----
------------------------*/

#contact {
    background-image: url('../images/bg-contact.png');
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-color: #fff;
}

#contact-form .form-group label {
    display: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: 100;
    text-transform: uppercase;
}

#contact-form.no-placeholder .form-group label {
    display: block;
}

#contact-form .controls {
    padding: 0;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: 2px;
}

#contact-form .form-control {
    background: transparent !important;
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    height: 56px;
    font-size: 21px;
    line-height: 32px;
    font-weight: 100;
    padding-left: 64px;
    -webkit-transition: border-color .3s ease-out;
    transition: border-color .3s ease-out;
    border-radius: 2px;
}

#contact-form .form-group {
    position: relative;
}

#contact-form .form-group [class*=fa] {
    display: block;
    width: 64px;
    position: absolute;
    top: 0;
    left: 5px;
    color: #e5e5e5;
    font-size: 24px;
    line-height: 53px;
    text-align: center;
    font-weight: 300;
    opacity: 0.5;
    transition: opacity .2s ease-out;
}

#contact-form.no-placeholder .form-group [class*=fa] {
    top: 30px;
}

#contact-form .form-control:focus+[class*=fa] {
    opacity: 1;
}

#contact-form textarea.form-control {
    height: auto;
    max-width: 100%;
    min-width: 100%;
    font-size: 21px;
    line-height: 32px;
    padding-top: 10px;
}

#contact-form .form-control:focus {
    background: #fff;
    border-bottom: 3px solid #f9398c;
    outline: none;
    box-shadow: none;
    -webkit-transition: border-color .3s ease-in;
    transition: border-color .3s ease-in;
}

#contact-form .error-message {
    padding: 5px 0;
    position: absolute;
    top: -30px;
    right: 0;
    font-size: 14px;
    font-weight: 300;
    color: #ff0000;
    z-index: 10;
}

#contact-form .error-message:before {
    content: "\00d7";
    font-size: 21px;
    line-height: 21px;
    margin-right: 5px;
}